@import url('https://fonts.googleapis.com/css?family=Averia+Libre:700&display=swap');

*
{
    outline: none;
}


body {
    font-size: 25px;
    font-family: 'Averia Libre', cursive;
    margin: 0;
}
.search {
    width: 100%;
    padding: 3px 0 0 0;
    top: 0;
    text-align: center;
    height: auto;
    position: fixed;
    background: #383642;
}
.input{
    font-size: 12px;
    border-radius: 20px;
    padding: 5px 5px 5px 30px;
    box-shadow: 0 3px 4px #2885aa, 0px 0px 0px 0px #ffffffeb;
}
#search-input {
    width: 60%;
    font-size: 16px;
    border-radius: 20px;
    padding: 5px 5px 5px 30px;
    box-shadow: 0 3px 4px #2885aa, 0px 0px 0px 0px #ffffffeb;
}

.input:hover{
    box-shadow: 0 3px 4px #2885aa, 0px 0px 5px 1px #ffffffeb;
}
#search-btn{
    font-size: 16px;
}
 .btn {
    width: 80px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 20px;
    background: #2885aa;
    padding: 5px;
    color: white;
 }
 .btn:hover{
    background: #36a5d1;
    transform: scale(1.05) perspective(1px);
 }
 .advance-sort{
    background: #eff2f2;
    padding-bottom: 10px;
    width: 100%;
    height: 60px;
    padding-top: 10px;
    margin-top: 10px;
}
 .sort{
     font-size: 12px;
     margin-top: 8px;
     float: left;
 }
 .filter-release-year{
     float: right;
     margin-right: 10px;
 }
 .filter-rating{
    float: right;
    margin-right: 10px;
}
 .sort label{
     margin-left: 25px;
 }
 .sort input{
    width: 14px;
    position: absolute;
    top: 71px;
 }
 .sort button{
    margin-left: 25px;
 }
 .results{
     margin-top: 150px;
 }
 .error, .no-more-results {
     color: red;
 }
 
 li {
     width: 100%;
     display: inline-block;
 }
 .img-div {
     width: 50%;
     float: left;
 }
 img {
     width: 50%;
 }
 .data-div {
    width: 50%;
    float: left;
 }
 .award{
    font-weight: bold;
    color: #8e2020;
 }
 .no-award{
     display: none;
 }
 @media screen and (max-width: 576px){
    #search-input {
        width: 40%;
        font-size: 12px;
    }
    img {
        width: 60% !important;
    }
    .btn {
        font-size: 12px;
    }
    .advance-sort{
        height: 100px !important;
    }
    .filter-release-year{
        float: left;
    }
    .filter-rating{
       float: left;
   }
}
@media screen and (max-width: 992px){
    ul {
        padding-left: 5px;
     }
     img {
        width: 40%;
    }
    #search-input {
        width: 60%;
        font-size: 16px;
    }
    #search-btn {
        font-size: 16px;
    }
    .advance-sort{
        height: 70px;
    }
    .sort label{
        margin-left: 25px;
    }
    .sort button{
       margin-left: 25px;
    }
    .data-div{
        width: 100%;
        border-bottom: 1px solid;
    }
    .data-div p{
        font-size: 12px;
        text-align: justify;
        padding-right: 10px;
    }
    .award{
        font-weight: bold;
        font-size: 13px;
        color: #8e2020;
     }
}